# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDE folders
.vscode/
.idea/

# Data artifacts
profiling_outputs/
imputation_reports/
combined_data_full.csv
env_snapshot.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
